.wrapper-attention {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}