.wrapper-attention {
    width: 100vw;
    height: 100vh;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    color: black;
    font-size: 25px;
    z-index: 1;
}

.wrapper-attention-block {
    margin-top: -120px;
}