.bestseller-line {
    height: 20px;
    width: 245px;
    transition: 400ms;
    background-color: white;
    position: absolute;
    margin-left: 40px;
    border-radius: 30%;
    margin-top: 10px;
}


