.cart-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}


.cart {
    margin-top: 50px;
    width: 50%;
    height: 80%;
    background-color: white;
    border: darkgray solid 3px;
    border-radius: 50px;

}

.cart-tittle-wrapper {
    width: 100%;
    text-align: center;
}

.cart-items-wrapper{
    overflow-y: scroll;
    width: 100%;
    height: 80%;
    border: solid lightgray 2px;
}

.total-info-wrapper {
    display: flex;
    justify-content: space-around;
}

.button-buy {
    width: 150px;
    height: 50px;
    background-color: inherit;
    border: solid gray 1px;
    cursor: pointer;
    transition: 400ms;
    margin-top: 18px;
    font-size: 18px;
    font-weight: 800;
    background-color: rgb(238, 235, 235);
    border-radius: 5px;
}

.button-buy:hover {
    border-radius: 15px;
}

.total {
    margin-top: 25px;
    font-size: 32px;
    font-weight: 500;
}