
.catalog-filter-section {
    width: 100%;
    border: solid red 1px;
    height: 150px;
    margin-top: 50px;
}

.items-wrapper {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(3, 440px);
    grid-auto-rows: 520px;
    row-gap: 100px;
} 

.descArea {
    width: 400px;
}

.hide {
    width: 100px;
    height: 26px;
    margin-left: -10px;
}


.create-product {
    display: flex;
}