.wrapper-of-item {
    width: 300px;
    height: 88px;
    display: flex;
    margin-top: 60px;
}

.wrapper-text-item {
    text-align: left;
    width: 340px;
    height: 88px;
    margin-left: 20px;
}


.big-text {
    font-size: 18px;
    color: #2E2927;
}

.small-text-wrapper {
    width: 120%;
    text-align: left;
}

.small-text {
    color: #7777;
    margin-top: 10px;
}

