.linkButton {
    width: 200px;
    height: 53px;
    font-size: 18px;
    border: solid black 1px;
    background-color: inherit;
    margin-top: 50px;
    transition: 300ms;
    cursor: pointer;
}

.linkButton:hover {
    border-radius: 15%;
    border: solid black 3px ;
}