* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    font-family: 'NanumMyeongjo'
}

.small-text {
    font-family: 'NanumMyeongjo';
}

.carousel-wrapper {
    margin: auto;
}
