.home-catalog-section {
    height: 634px;
    width: 1500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
}

.catalog-items-wrapper {
    display: flex;
    justify-content: space-around;
}