.home-bestseller-section {
    height: 900px;
    width: 1500px;
    margin: 0 auto;
    margin-top: 170px;
    text-align: center;
   
}

.bestsellers-items-wrapper {
    width: 100%;
    height: 440px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.carousel-btn-wrapper {
    width: 100%;
    height: 200px;
    margin-top: 30px;
}

.carousel-wrapper {
    height: 40px;
    width: 100px;
    display: flex;
}

.carousel-btn {
    margin: 0 auto;
    font-size: 24px;
    margin-top: 4px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.carousel-btn:active {
    font-size: 20px;
}

.button-wrapper {
    margin-left: -53px;
}
