.item-page {
    width: 1300px;
    height: 630px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.item-img {
    margin-top: 80px;
    width: 430px;
    height: 430px;
    border-radius: 50px;
    border: gray 2px solid;
}

.line-wrapper {
    margin-top: 100px;
    margin-left: 80px;
}

.info-items {
    margin-top: 130px;
    font-size: 22px;
}

.item-description {
    width: 450px;
    height: auto;
    margin-top: 80px;
    font-family: 'NanumMyeongjo';
    white-space: pre-wrap;
    font-size: 24px;
}

.info-of-item {
    margin-top: 30px;
    font-size: 30px;
    font-family: 'NanumMyeongjo';
}

.name-of-item {
    font-size: 30px;
}

.item-add-btn {
    margin-top: 30px;
    width: 185px;
    height: 60px;
    border-radius: 200px;
    border: solid black 1px;
    cursor: pointer;
    font-size: 18px;
    transition: 400ms;
    font-family: 'NanumMyeongjo';
    border: solid gray 2px;
}


.item-add-btn:hover{
    box-shadow: 0 0 100px wheat;
    font-size: 20px;
}

.item-add-btn:active {
    font-size: 18px;
    background-color: lightgray;
}
