.item-wrapper {
    margin-top: 50px;
    display: flex;
}

.item-img-wrapper-cart {
    width: 100px;
    height: 100px;
    border: solid 1px;
}

.change-amount-wrapper {
    display: flex;
    justify-content: space-around;
    width: 200px;
    border: solid black 1px;
}

.change-amount {
    margin-top: 10px;
    width: 50px;
    height: 20px;
    border: none;
    border-bottom: solid gray 1px;
    outline: none;
    text-align: center;
    color: black;
}

.change-amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}





