.header {
    width: 100%;
    height: 60px;
    top: 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: lightgray;
    opacity: 0.8;
}

.logo {
    font-size: 54px;
    font-weight: 700;
}

.nav-menu-wrapper {
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.nav-menu__item {
    margin-top: 25px;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.icons-wrapper {
    width: 120px;
    display: flex;
    justify-content: space-around;
}

.header__icon {
    height: 30px;
    width: 30px;
    margin-top: 22px;
    cursor: pointer;
}

.amount {
    border: solid 1px  ;
    border-radius: 100%;
    background-color: red;
    font-size: 14px;
    font-weight: 800;
    margin-left: -35px;
    margin-top: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.amount-num {
  margin-top: 2px;
}

.header__search {
    position: absolute;
    margin-top: 28px;
    margin-left: -290px;
}