
.tittle {
    font-size: 64px;
    text-align: center;
    margin-top: 100px;
}

.orderPreview-wrapper {
    border: solid black 1px;
    width: 900px;
    height: 80px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    
}

.user-data-wrapper {
    height: 100%;
    width: 45%;
    flex-direction: column;
}

.info-item {
    margin-top: 7px;
    display: flex;
}

.order-data {
    width: 40%;
    height: 100%;

}

.status-of-order {
    margin-top: 25px;
    font-size: 20px;
    padding-right: 100px;
}

.status-block {
    margin-top: 20px;
}