.product-item-wrapper {
    height: 520px;
    width: 440px;
}

.star-wrapper {
    display: flex;
}

.star {
    height: 40px;
    cursor: pointer;
    width: 40px;
    position: absolute;
}



.product-img-wrapper {
    height: 440px;
    width: 440px;
}


.product-data-wrapper {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 430px;
    margin-left: 5px;
}

.name-of-product-wrapper {
    width: 245px;
    font-size: 24px;
    text-align: left;
}

.add-button-n-price-wrapper {
    display: flex;
    width: 140px;
    justify-content: space-between;
}

.name-of-product {
    margin-top: 7px;
}

.price-of-item {
    font-size: 32px;
    margin-top: 5px;
}

.add-button {
    border: solid #7777 1px;
    width: 40px;
    height: 40px;
    background-color: white;
    margin-top: 4px;
    cursor: pointer;
    transition: 400ms;
}

.add-button:hover {
border-radius: 30%;
}

.add-button:active {
    transition: 100ms;
    width: 35px;
    height: 35px;
    }

.add-button-pic {
    margin-left: 1px;
    margin-top: 2px;
}

.delete-btn {
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.update-btn {
    background-color: lightblue;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.update-form-wrapper {
    border: solid green 1px;
    height: 100%;
}

.input-wrapper {
    margin-top: 40px;
}

.input-form {
    width: 140px;
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: #7777 solid 2px;
    float: left;
}

.desc {
    width: 320px;
    height: 90px;
}