.large-text {
    font-size: 54px;
}

.small-text {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 900;
    color: gray;
}

.product-item-wrapper {
    height: 520px;
    width: 440px;
}

.star-wrapper {
    display: flex;
}

.star {
    height: 40px;
    cursor: pointer;
    width: 40px;
    position: absolute;
}



.product-img-wrapper {
    height: 440px;
    width: 440px;
}


.product-data-wrapper {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 430px;
    margin-left: 5px;
}

.name-of-product-wrapper {
    width: 245px;
    font-size: 24px;
    text-align: left;
}

.add-button-n-price-wrapper {
    display: flex;
    width: 140px;
    justify-content: space-between;
}

.name-of-product {
    margin-top: 7px;
}

.price-of-item {
    font-size: 32px;
    margin-top: 5px;
}

.add-button {
    border: solid #7777 1px;
    width: 40px;
    height: 40px;
    background-color: white;
    margin-top: 4px;
    cursor: pointer;
    transition: 400ms;
}

.add-button:hover {
border-radius: 30%;
}

.add-button:active {
    transition: 100ms;
    width: 35px;
    height: 35px;
    }

.add-button-pic {
    margin-left: 1px;
    margin-top: 2px;
}

.delete-btn {
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.update-btn {
    background-color: lightblue;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.update-form-wrapper {
    border: solid green 1px;
    height: 100%;
}

.input-wrapper {
    margin-top: 40px;
}

.input-form {
    width: 140px;
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: #7777 solid 2px;
    float: left;
}

.desc {
    width: 320px;
    height: 90px;
}
.wrapper-of-order {
    width: 90%;
    height: 700px;
    margin: 130px auto;
    border: solid black 1px;
    display: flex;
}

.user-data-wrapper {
    width: 370px;
    height: 150px;
    border: solid black 1px;
}

.info-about-order {
    border: solid red 1px;
    height: 100%;
    flex-direction: column;
}

.order-wrapper {
    width: 82%;
    height: 100%;
    border: solid black 1px;
}

.small-wrapper {
    margin-top: 10px;
    border: solid black 1px;
}

.items-wrapper-info {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-auto-rows: 100px;
    row-gap: 20px;
}

.general-information-wrapper {
    width: 100%;
    height: 100px;
    border: solid black 1px;
    text-align: center;
    margin-top: 20px;
}.tittle {
    font-size: 64px;
    text-align: center;
    margin-top: 100px;
}

.orderPreview-wrapper {
    border: solid black 1px;
    width: 900px;
    height: 80px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    
}

.user-data-wrapper {
    height: 100%;
    width: 45%;
    flex-direction: column;
}

.info-item {
    margin-top: 7px;
    display: flex;
}

.order-data {
    width: 40%;
    height: 100%;

}

.status-of-order {
    margin-top: 25px;
    font-size: 20px;
    padding-right: 100px;
}

.status-block {
    margin-top: 20px;
}
.main-section {
    margin-top: 60px;
    width: 100%;
    height: 695px;
    display: flex;
    justify-content: center;
}

.sign-section {
    width: 700px;
    height: 695;
    border: solid black 1px;
    text-align: center;
}

.form-wrapper {
    margin-top: 40px;
    height: 420px;
    width: 400px;
    margin-left: 160px;
}

.form-label {
    font-size: 24px;
}

.form-input {
    border: none;
    border-bottom: solid 1px #7777;
    background-color: inherit;
    width: 80%;
    margin-top: 16px;
    outline: none;
}

.check-user-account {
    cursor: pointer;
    font-size: 24px;
    transition: 400ms;
}

.check-user-account:hover {
    color: red;
}

.logout-btn {
    width: 100px;
    height: 100px;
    
}

.outlet-section {
    padding: 0;
    margin: 0;
    font-size: 18px;
    margin-top: 80px;
}

.header {
    width: 100%;
    height: 60px;
    top: 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: lightgray;
    opacity: 0.8;
}

.logo {
    font-size: 54px;
    font-weight: 700;
}

.nav-menu-wrapper {
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.nav-menu__item {
    margin-top: 25px;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.icons-wrapper {
    width: 120px;
    display: flex;
    justify-content: space-around;
}

.header__icon {
    height: 30px;
    width: 30px;
    margin-top: 22px;
    cursor: pointer;
}

.amount {
    border: solid 1px  ;
    border-radius: 100%;
    background-color: red;
    font-size: 14px;
    font-weight: 800;
    margin-left: -35px;
    margin-top: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.amount-num {
  margin-top: 2px;
}

.header__search {
    position: absolute;
    margin-top: 28px;
    margin-left: -290px;
}